/*Pernille Deijlen
10747354
style for linked views*/

body
{
  font: "Times New Roman";
}

.text
{
    font: "Times New Roman";
}

.axis path,
.axis line
{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.bar:hover {
	fill: black;
}