/*Pernille Deijlen
* 10747354
* In this file you will find the styling for my bulletchart.
*/

#countrytitle {
    text-align: center;
}

#subtitle {
	text-align: center;
	font-size: 13px;
}

#bullet {
    position: relative;
    width: 800px;
    height: 400px;
    left: 30px;
}

.bullet {
	font-size: 10px;
}

.bullet .marker {
	stroke: #000;
	stroke-width: 2px;
}

.bullet .tick line {
	stroke: #666;
	stroke-width: .5px;
}

.bullet .range.s0 {
	fill: #eee;
}

.bullet .range.s1 {
	fill: #ddd;
}

.bullet .range.s2 {
	fill: #ccc;
}

.bullet .measure.s0 {
	fill: skyblue;
}

.bullet .title {
	font-size: 13px;
	font-weight: bold;
}