/*Pernille Deijlen
10747354*/


/*style for page*/
/*style for map*/
/*style for scatter*/
/*style for bulletchart*/


/* fixed zorgt ervoor dat hij meebeweegt bij het scrollen*/
#bottomtext {
	position: fixed;
	width: 100%;
	height: 80px;
	bottom: 0px;
	background-color: #eee;
}

.bottomtext {
	position: fixed;
	width: 100%;
	bottom: 30px;
	font-size: 10px;
	text-align: center;
}

.jumbotron {
	color: #dd1c77;
}

.container {
	color: black;
}

.slidecontainer {
    position: relative;
    left: 400px;
	width: 400px;
	font-size: 12px;
	text-align: center;
	color: black;
}

.slider {
    -webkit-appearance: none;
    width: 400px;
    height: 10px;
    border-radius: 5px;   
    background: lightgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #dd1c77;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightgrey;
    cursor: pointer;
}

.col-sm-6 {
    text-align: center;
}

#map {
    position: relative;
    width: 400px;
    height: 600px;
    left: 100px;
}

#legend {
    position: relative;
    width: 400px;
    height: 200px;
    /*left: 100px;*/
}

#scatter {
    position: relative;
    width: 600px;
    height: 400px;
}

#bullet {
    position: relative;
    width: 600px;
    height: 400px;
}

#space {
    position: relative;
    width: 600px;
    height: 400px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}