/*Pernille Deijlen
* 10747354
* In this file you will find the general styling for my page.
*/

.jumbotron {
	color: #dd1c77;
}

.container {
	color: black;
}

.col-sm-6 {
    text-align: center;
}

#information {
    position: relative;
    width: 600px;
    height: 120px;
}

#space {
    position: relative;
    width: 600px;
    height: 400px;
}

#bottomtext {
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0px;
    background-color: #eee;
}

.bottomtext {
    position: fixed;
    width: 100%;
    bottom: 30px;
    font-size: 10px;
    text-align: center;
}

