/*Pernille Deijlen
* 10747354
* In this file you will find the styling for my scatterplot.
*/

#scatter {
    position: relative;
    width: 600px;
    height: 400px;
    left: 27px;
}

#scattertitle {
  text-align: center;
  width: 700px;
}

.x-axis path,
.x-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.y-axis path,
.y-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.x-text {
  font-size: 13px;
}

.y-text {
  font-size: 13px;
}